@font-face {
  font-family: Kalam;
  src: url(Kalam-Regular.ttf);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  font-weight: 0;
}

.hey {
  color: white;
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

.hey span {
  color: #e31b6d;
  text-align: center;
}

.my-work {
  font-family: 'Kalam', cursive;
  font-size: 16pt;
  border: 1px solid white;
  padding: 0.3em;
  text-decoration: none;
  border-radius: .3em;
  color: white;
}

.my-work:hover .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 3px;
}